//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
$theme-dark-headings-color: #FFFFFF;
$theme-dark-label-color: #FFFFFF;
$theme-dark-text-muted-color: #FFFFFF;